<!DOCTYPE html>
<html>
<head>
    <title>Лабораторная работа № 3</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style_main_page.css') }}">
</head>
<body>
    <div class="header">
        <h1>Лабораторная работа № 3 по дисциплине: "Основы профессиональной деятельности"</h1>
    </div>
    <div class="container">
        <a href="{{ url_for('find_most_common_word') }}" class="button">Поиск самого частого слова в файле</a>
    </div>
</body>
<div class="footer">
    <p>Вариант: 3</p>
    <p>Выполнил: Бережнов А.Д.</p>
    <p>Студент группы ИВТ-223</p>
</div>
</html>
